<div class="container-fluid container">
  <h1 class="text-center m-5">Inbox</h1>
  <h3>Conversations: </h3>

      <ul class="list-group">
        <% @conversations.each do |conversation| %>
          <li class="list-group-item" data-conversation-id="<%= conversation.id %>">
            <%= link_to "From: #{conversation.receiver(current_user).username}", conversation_messages_path(conversation) %>
            <% if !conversation.unread_message_count(current_user).zero? %>
              <span class="badge badge-info"><%= conversation.unread_message_count(current_user) %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
</div>


