<div class="container-fluid">
  <h1 class="hero-title text-center m-5">Inbox</h5>
  <div class="row">
    
    <div class="col-md-8">
      <ul class="list-group">
        <% @conversations.each do |conversation| %>
          <li class="list-group-item" data-conversation-id="<%= conversation.id %>">
            <%= link_to conversation.receiver(current_user).username, conversation_messages_path(conversation) %>
            <% if !conversation.unread_message_count(current_user).zero? %>
              <span class="badge"><%= conversation.unread_message_count(current_user) %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
</div>


